<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">Compra Programada</div>

    <mat-nav-list>
      @for (item of menuItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      Sistema de Compra Programada de Ações
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>